[Unit]
Description=Mira Dashboard deferred worker restart timer

[Timer]
OnActiveSec=10s
AccuracySec=1s
Unit=mira-dashboard-deferred-worker-restart.service
